.elzevir {
	font-family: 'Elzevir';
	src: url('./elzevir.otf');
}

.elzevir-regular {
	font-family: 'elzevir-regular';
}
.elzevir-light {
	font-family: 'elzevir-light';
}
.elzevir-bold {
	font-family: 'elzevir-bold';
}
.elzevir-sans {
	font-family: 'elzevir-sans';
	letter-spacing: .05em;
}
.elzevir-caption {
	font-family: 'elzevir-caption';
}


body {
	background-color: #ECEAE5;
	text-align: center;
	font-size: 24px;
	color: #4D4D4D;
}

#loading {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #49E4A9;
	position: fixed;
	z-index: 2;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

#loading .wrap{
	width: 50%;
	background-color: white;
}

.loading {
	margin-left: 10px;
	font-size: .6em;
}

li {
	margin: 10px 0;
	list-style: none;
}

.informations {
	position: absolute;
	top: -110px;
	left: -150px;
	z-index: 1;
}

.zoom {
	right: 0;
	display: inline-flex;
}

.zoom span {
	width: 30px;
	height: 30px;
	display: inline-block;
	border: 3px solid #FF725E;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 10px;
	border-radius: 50%;
	color: #FF725E;
}
.zoom span:hover {
	background-color: #FF725E;
	color: white;
	cursor: pointer;
}

.wrap {
	position: relative;
	background-color: white;
	border-left: 10px solid #49E4A9;
	padding: 50px;
	text-align: center;
	max-width: 800px;
	margin: 200px auto;
}

.wrap div {
	margin-bottom: 40px;
}

.link {
	text-decoration: none;
}

.red {
	color: #FF725E;
}

.black {
	color: #333333;
}

.value {
	color: #FF725E;
	font-size: 10px;
	font-family: 'elzevir-caption';
	letter-spacing: .06em;
	margin-top: 10px;
}

.small {
	font-size: 30px;
}
.medium {
	font-size: 64px;
}
.large {
	font-size: 350px;
}
